<div class="ui-s480">
    <ui-card class="elevate-on-toolbar">
        <ui-data-table class="responsive">
            <tbody #elementInsert>
                <tr>
                    <th>
                        CPF
                    </th>
                    <th>
                        Nome
                    </th>
                </tr>
                <tr class="empty" *ngIf="!listaProfessores.size()">
                    <td colspan="2">{{loading ? 'Carregando...' : 'Nenhum professor cadastrado'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <!-- <tr>
                    <td colspan="4" class="align-right">
                        <div class="ui-button-container align-right">
                            <span class="pagination" *ngIf="totalLinhas">
                                {{((pagina - 1) * 10) + 1}}-{{pagina * 10
                                < totalLinhas ? pagina * 10 : totalLinhas}} de {{totalLinhas}} </span>
                                    <button class="ui-button flat icon" type="button" uiRipple [disabled]="pagina < 2" (click)="pagina = pagina - 1; getCorretoras();">
                                        <i class="material-icons">keyboard_arrow_left</i>
                                    </button>
                                    <button class="ui-button flat icon" type="button" uiRipple [disabled]="totalLinhas <= pagina * 10" (click)="pagina = pagina + 1; getCorretoras();">
                                        <i class="material-icons">keyboard_arrow_right</i>
                                    </button>
                        </div>
                    </td>
                </tr> -->
            </tfoot>
        </ui-data-table>
    </ui-card>
    <div class="ui-fab-container">
        <button class="ui-button accent fab" uiRipple [routerLink]="['novo']">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>